@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: black;
  src: url(../fonts/Alegreya-Black.ttf);
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: black;
  src: url(../fonts/Alegreya-BlackItalic.ttf);
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Alegreya-Bold.ttf);
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/Alegreya-BoldItalic.ttf);
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/Alegreya-Italic.ttf);
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Alegreya-Regular.ttf);
}